/**
 * Base
 */

html {
    height: 100%; max-height: 100%; }

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
        Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; height: auto; margin: 0;
    padding: 0; color: #333; width: 100%; }

h1,
h2,
h3,
h4 {
    font-family: Signika, "Trebuchet MS", Tahoma, Verdana,
        Arial, Helvetica, sans-serif;
    font-weight: normal; margin: 0 0 15px; }

h1 {
    font-size: 2em;
    line-height: 1.1em; }
h2 {
    font-size: 1.75em;
    line-height: 1em; }
h3 {
    font-size: 1.5em;
    line-height: 1em; }

p,
li {
    line-height: 1.6em; }
p {
    margin: 0; }
li {
    margin-bottom: 5px; }

a,
a:visited,
a:active {
    color: #007db6;
    text-decoration: none; }
a:hover {
    color: #111; }

.sans {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
        Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#root {
    height: 100%; width: 100%; }

/* Loading screen
 */
.load-screen {
    position: fixed; top: 0; left: 0; bottom: 0;
    right: 0; background: #ccc; z-index: 10;
    display: table; overflow: hidden; height: 100%;
    width: 100%; text-align: center; }
.load-screen .center {
    width: 5em; height: 5em; top: 50%; left: 50%;
    position: absolute; margin: -2.5em 0 0 -2.5em; }
.load-screen i {
    font-size: 4em; color: #aaa;
    text-shadow: 0 -1px 0 #888, 0 1px 0 #eee; }
.load-screen .messages {
    position: absolute; bottom: 10px; left: 10px; }

/* error screen
 */
.error-screen {
    position: fixed; top: 0; left: 0; bottom: 0;
    right: 0; background: #ccc; z-index: 1000;
    display: table; overflow: hidden;
    height: 100%; width: 100%; }
.error-screen .vertical {
    display: table-cell; vertical-align: middle; }
.error-screen .horizontal {
    width: 500px; margin: 0 auto; }
.error-screen i {
    font-size: 100px; color: #aaa; float: left;
    text-shadow: 0 -1px 0 #888, 0 1px 0 #eee; }
.error-screen .body {
    padding-left: 140px; }
.error-screen .message {
    font-size: 2em; padding: 0 0 20px; }

/* Tooltips */
.tip {
    border-left: 4px solid #d6a70e !important;
    background: #ffd35b; padding: 0.75em; }