/**
 * Nav
 */

/* Top nav element */
nav {
    background: #ccc; width: 100%;
    box-sizing: border-box; padding-left: 0.5em;
    position: fixed; z-index: 1;
    height: 3em; line-height: 2.9em;
    overflow: hidden; }

/* Inactive overlay */
nav .overlay {
    position: absolute; top: 0; right: 0;
    left: 0; bottom: 0; z-index: 2;
    background: rgba( 204, 204, 204, 0.7 );
    display: none; }
nav.disabled .overlay {
    display: block; }

/* Icons container and links */
nav .icons {
    float: right; }
nav .icons a {
    display: block; float: left;
    top: 0; bottom: 0; right: 0.5em;
    line-height: 100%; position: absolute;
    width: 2em; }
nav .icons a:nth-child(1) {
    right: 9.5em; }
nav .icons a:nth-child(2) {
    right: 6.5em; }
nav .icons a:nth-child(3) {
    right: 3.5em; }

/* When admin icon is disabled, shift right */
nav.no-admin .icons a:nth-child(1) {
    right: 6.5em; }
nav.no-admin .icons a:nth-child(2) {
    right: 3.5em; }
nav.no-admin .icons a:nth-child(3) {
    right: 0.5em; }

/* Icons within the buttons */
nav .icons a i.icon {
    font-size: 1.8em; position: relative;
    top: 0.36em; color: #999; }
nav .icons a i.arrow {
    display: none; position: absolute;
    bottom: -0.5em; left: 50%;
    margin-left: -0.6em; width: 1em;
    -webkit-transform: rotate(-45deg);
    color: #359fa3; z-index: 3; }

/* Active buttons */
nav .icons a.active {
    z-index: 3; }
nav .icons a.active i.icon {
    top: 0.2em !important; color: #359fa3; }
nav .icons a.active i.arrow {
    display: block; }

/* Action buttons */
nav .actions {
    padding-right: 0.5em; }