<nav class="clearfix {{ navEnabled ? '' : 'disabled' }} {{ adminEnabled ? '' : 'no-admin' }}">
    <a href="javascript:;" on-click="navClick:send" class="blue button">Send File</a>
    <div class="icons">
        {{# adminEnabled }}
        <a href="javascript:;"
            class="{{# navPage == 'admin' }}active{{/ navPage }}"
            on-click="navClick:admin"
            title="Admin">
            <i class="fa fa-square arrow"></i>
            <i class="fa fa-flask icon"></i>
        </a>
        {{/ adminEnabled }}
        <a href="javascript:;"
            class="{{# navPage == 'files' }}active{{/ navPage }}"
            on-click="navClick:files"
            title="Your Files">
            <i class="fa fa-square arrow"></i>
            <i class="fa fa-folder icon"></i>
        </a>
        <a href="javascript:;"
            class="{{# navPage == 'sent' }}active{{/ navPage }}"
            on-click="navClick:sent"
            title="Sent Files">
            <i class="fa fa-square arrow"></i>
            <i class="fa fa-send icon"></i>
        </a>
        <a href="javascript:;"
            class="{{# navPage == 'settings' }}active{{/ navPage }}"
            on-click="navClick:settings"
            title="Settings">
            <i class="fa fa-square arrow"></i>
            <i class="fa fa-gear icon"></i>
        </a>
    </div>
    <div class="overlay"></div>
</nav>