{{> nav }}

<section class="full page">
    <h3 class="margin-bottom-20">Files</h3>
    <div class="scroller">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Size</span></th>
                    <th><span>Date</span></th>
                    <th class="actions"><span>&nbsp;</span></th>
                </tr>
            </thead>
            <tbody>
                {{# files }}
                <tr>
                    <td>{{name}}</td>
                    <td>{{size}}</td>
                    <td>{{date}}</td>
                    <td class="actions centered-text">
                        <i class="fa fa-trash-o"></i>
                    </td>
                </tr>
                {{/ files }}
                {{^ files.length }}
                <tr>
                    <td colspan="4" class="centered-text color-999">You haven't received any files :)</td>
                </tr>
                {{/ files }}
            </tbody>
        </table>
    </div><!-- /scroller -->
</section>