{{> nav }}

<section class="page">
    <h3 class="margin-bottom-20">Send a File</h3>
    <!-- Choose recipient -->
    <div class="margin-bottom-20">
        {{# friends.length <= 1 }}
        <div class="tip round-3 margin-bottom-10">
            <span>You aren't tracking anyone on Keybase! First, find some friends to track.</span>
        </div>
        {{/ friends.length }}
        <select name="friend" id="friendInput">
            <option value="">Choose a recipient...</option>
            <option value="">----------</option>
            {{# friends:i }}
            <option value="{{ friends[i] }}">{{ friends[i] }}</option>
            {{/ friends }}
        </select>
    </div>

    <!-- Select file -->
    <div class="margin-bottom-10">
        <label>File to Send:</label>
    </div>
    <div class="margin-bottom-15">
        <input type="text" value="{{attachedFile}}" class="w100p" disabled />
        <input type="file" name="shareDir"
            style="display: none;" id="attachedFileInput"
            on-change="changeFile" />
    </div>
    <a class="gray button" href="javascript:;" on-click="openDialog">
        Choose File
    </a>
</section>